.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--Blue-800);
}

.newsletter__container {
  display: grid;
  align-items: flex-start;
  background-color: var(--White);
  max-width: 375px;
}

.newsletter__image {
  height: 285px;
  background: url('../images/illustration-sign-up-mobile.svg');
  background-size: contain;
  background-repeat: no-repeat;
  /* display: none; */
}

.newsletter__card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.8rem;
  padding: 3rem;
  /* display: none; */
}

.newsletter__card-title,
.newsletter__success-title {
  font: var(--text-feature);
  color: var(--Blue-800);
}

.newsletter__form {
  display: grid;
  gap: 2rem;
}

.newsletter__benefits {
  list-style-type: none;
}

.newsletter__benefits li {
  position: relative;
  padding-left: 4.2rem;
  margin-bottom: 0.7rem;
}

.newsletter__benefits li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 30%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background-image: url('../images/icon-list.svg');
  background-size: contain;
  background-repeat: repeat;
}

.newsletter__benefits,
.newsletter__description {
  font: var(--text);
  color: var(--Blue-700);
}

.form__group {
  display: grid;
  gap: 0.5rem;
}

.form__label-wrapper {
  display: flex;
  justify-content: space-between;
}

.label {
  font: var(--text-sm);
  color: var(--Blue-800);
}

small.input-error {
  font: var(--text-sm);
  color: var(--Red);
  justify-self: flex-end;
}

.form-input {
  border: none;
  outline: none;
}

input.input-error,
button.input-error {
  color: var(--Red);
  border: 1px solid var(--Red);
  background-color: var(--Red-button);
}

.form-input,
#form-button,
#dismiss-button {
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid var(--Grey);
  cursor: pointer;
}

.form-input::placeholder {
  color: var(--Grey);
}

#form-button,
#dismiss-button {
  font: var(--text-button);
  color: var(--White);
  background-color: var(--Blue-800);
  outline: none;
  transition: box-shadow 0.1s ease;
}

.form-input:active,
.form-input:focus,
#form-button:focus,
#dismiss-button:focus {
  border: 1px solid var(--Blue-700);
}

#form-button:hover,
#dismiss-button:hover {
  background: linear-gradient(to right, var(--Red), var(--Orange));
  border-color: transparent;
  box-shadow: 1px 1px 10px var(--Red);
}

.is-hidden {
  display: none;
  /* display: grid; */
}

.newsletter__success {
  height: 100vh;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
}

.newsletter__success-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.newsletter__success-image {
  align-self: flex-start;
  width: 50px;
  height: 50px;
  background: url('../images/icon-success.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.newsletter__description span {
  font-weight: 700;
}

#dismiss-button {
  align-self: flex-end;
}

@media screen and (min-width: 769px) {
  .newsletter__container {
    display: grid;
    max-width: 992px;
  }
  
  .newsletter__container .newsletter__image-background {
    background: linear-gradient(to bottom, var(--Blue-800), var(--White));
    background-color: var(--White);
  }

  .newsletter__image {
    height: 344px;
    background: url('../images/illustration-sign-up-tablet.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .newsletter__success {
    max-width: 500px;
    justify-content: space-around;
  }

  .newsletter__success-container {
    gap: 4rem;
  }

  .newsletter__success-container .newsletter__description {
    font-size: clamp(1.2rem, 2.93vw, 1.8rem);
  }

  .newsletter__success-title {
    font-size: clamp(4.2rem, 2.93vw, 5rem);
    align-self: flex-start;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .newsletter__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.7rem;
    max-width: 840px;
    padding: 2rem;
    border-radius: 20px;
  }

  /* .newsletter__container.success-mode {
    display: none;
    grid-template-columns: 1fr;
    max-width: 460px;
  } */
  
  .newsletter__container .newsletter__image-background {
    background: linear-gradient(to bottom, var(--White), var(--White));
  }
  
  .newsletter__image {
    height: 563px;
    max-width: 400px;
    background: url('../images/illustration-sign-up-desktop.svg');
    background-size: contain;
    /* background-position: center; */
    background-repeat: no-repeat;
  }
  
  .newsletter__card {
    align-content: center;
    height: 100%;
    order: -1;
  }

  .newsletter__card .newsletter__description {
    font-size: clamp(1rem, 0.75rem + 1.5vw, 1.4rem);
  }

  .newsletter__card-title {
    /* font-size: clamp(3.6rem, 2.93vw, 6rem); */
    font-size: clamp(3.2rem, 3.6rem + 1.5vw, 4.6rem);
  }

  .newsletter__benefits li {
    padding-left: 4rem;
  }

  .newsletter__benefits {
    /* font-size: clamp(1.6rem, 2.93vw, 1.4rem); */
    font-size: clamp(1rem, 1rem + 1.5vw, 1.4rem);
  }

  .form-input,
  #form-button,
  #dismiss-button {
    padding: 1rem;
  }

  .newsletter__success {
    grid-column: 1 / -1;
    gap: 1.5rem;
    max-height: 350px;
    max-width: 470px;
    padding-top: 0;
  }

  .newsletter__success-container {
    gap: 2rem;
  }
}